-/*jade: http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=182s*/
h1 Hello Expresss



h2= title
-var name = "Maxim" // http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=321s
-var nameWithTags = "<b>Yefremov<b>";
-var fn = function() { return "Hello, Expresses!!!!";}; //http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=408s
style
    li {background: lightgray;}

ul#nav
    li.current One
    li #{name}
    li #{1+3}
    li= name
    li= fn()
        a(href="/other", rel="nofollow") Go to other
    li #{nameWithTags}
    li !{nameWithTags}
    

p I want to put a lot of text here ...

pre 
    |I want
    | to put
    | a lot
    | of text
    | here ...

p.
    I want 
    to put 
    a lot 
    of text
    here...
    
pre.
    I want 
    to put 
    a lot 
    of text
    here...
    
-//http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg
-var followerCount = 2;
-if(followerCount === 0){
    p You have no followers.
-} else if(followerCount === 1){
    p You have one follwer.
-} else{
    p You have #{followerCount} followers.
-}

-// http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=650s
p
    if followerCount === 0
        |You have no followers.
    else if followerCount === 1
        |You have one follower.
    else
        |You have #{followerCount} followers.
        
-//http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=758s
- var users = [{ name: "Joe", email : "joe@gmail.com"}, {name: "Sally", email: "sally@gmail.com"}, {name: "Jill", email : "jill@gmail.com"}];

ul 
    each user, i in users
        li #{i + 1}: #{user.name} &lt;#{user.email}>
        
-// http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=882s
mixin userLi(user)
    li #{user.name} &lt;#{user.email}>
ul 
    each user, i in users
        mixin userLi(user)
        
-//http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=921s
include mixins
        
ul 
    each user, i in users
        mixin userLi2(user)
        
-//http://www.youtube.com/watch?feature=player_detailpage&v=2qwNk31V9Dg#t=1064s
ul 
    each userObject, i in users
        include user
