-//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=774s
h1 Update User

form(method="POST", action="/mongo/#{user.name}")
    -//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=876s
    input(type="hidden", name="_method", value="PUT")
    p Name
    input#name(type="text", name="name", value="#{user.name}")
    p Email:
        input#email(type="email", name="email", value="#{user.email}")
    p Age:
        input#age(type="number", name="age", value="#{user.age}")
    p: button(type="submit") Update