-//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=355s
h1 All Users

ul
    each user in users
        li: a(href="/mongo/#{user.name}") #{user.name} (#{user.email}) age: #{user.age}
        -//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=384s