-//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=439s
h1 New User

form(method="POST", action="/mongo/create")
    p Name
    input#name(type="text", name="name")
    p Email:
        input#email(type="email", name="email")
    p Age:
        input#age(type="number", name="age")
    p: button(type="submit") Create