-//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=671s
h1 #{user.name}

ul
    li Email: #{user.email}
    li Age: #{user.age}
    
ul
    li: a(href="/mongo/#{user.name}/edit") Edit
    li
        form(action='/mongo/#{user.name}', method="POST")
            -//http://www.youtube.com/watch?feature=player_detailpage&v=RoSX87kZoJQ#t=1109s
            input(type="hidden", name="_method", value="DELETE")
            button(type="submit") Delete